<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696857958541-r8672c714tve29h5ec788g714cr0qvk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696857958541-r8672c714tve29h5ec788g714cr0qvk8</string>
	<key>API_KEY</key>
	<string>AIzaSyDUhrdIqOufWVTQtzyZBNq0zpP_DXa-InA</string>
	<key>GCM_SENDER_ID</key>
	<string>696857958541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppCli</string>
	<key>PROJECT_ID</key>
	<string>chatappcli-1e8b9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappcli-1e8b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696857958541:ios:325d3b96a6bc7b238b6ac4</string>
</dict>
</plist>